[user]
	name = sharebtech
	email = tech@surge.media

[http]
	postbuffer = 5m

[core]
	packedGitLimit = 128m
	packedGitWindowSize - 128m

[pack]
	deltaCacheSize = 128m
	packetSizeLimit = 128m
	windowMemory = 128m
